h1{
    color: rgb(0, 17, 255);
    text-decoration: underline;
    font-weight: bold;
}

a{
    margin-right: 15px;
    color: rgb(0, 17, 255);
    text-decoration: underline;
    font-weight: bold;
}
